.container {
  font-family: 'Playfair Display', serif;
  height: 100%;
  width: 100%;
  align-items: center;
}


input {
		flex-grow: 2;
	}

	button {
		@extend %transition;
		background: $secondary;
		border-left: 1px solid ($secondary * 1.05);
		&:hover {
			background: $secondary * 1.1;
		}
	}
}

.cool {
display: inline-block;

}

.main-div {
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width: 100%;
  flex-direction: column;

}


.title-txt {
  font-family: 'Playfair Display', serif;
}

.itemInput {
font-family: 'Playfair Display', serif;
height: 25%;
}


.submitBtn {
background-color: #004346;
font-family: 'Playfair Display', serif;
color: white;
}

/* #253743: input color */
/*#637081: accent color*/
