.itemInput {
  border-radius: 50px;
}


.submitBtn {
border-radius: 50px;
background-color: #e2c044;
font-family: 'Roboto', sans-serif;
color: white;
}

/* #253743: input color */
/*#e2c044: accent color*/
